body{
  background-color: #D6F5D6;
}
.login {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border: 3px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 1.4em;
}

.login *{
  margin: 10px;
}

.login img{
  background-color: #D6F5D6;
  padding: 30px;
  border: 3px solid black;
  max-height: 200px;
  border-radius: 15px;
}

.login label{
  font-weight: bold;
}

#main-nav{

}

