<article id = "<%= question.id %>">
  <a href= '/surveys/new' class="create-survey-button"></a>
  <h2><%= question.name %></h2>\
  <p>
    <span class='questions'>Some Question</span>

  </p>
</article>
