<section>
  <h1><%= @name %>'s Surveys!</h1>

  <ul>
    <% @user_surveys.each do |survey| %>
      <li class="li-underline"><a href="/survey/<%= survey.id %>"><%= survey.name.capitalize %></a></li>
    <% end %>
  </ul>
</section>
