<section class="create-survey">
<header>
  <h2>Create a survey</h2>
</header>

<form id = "creator" method = "post" action="/survey/new">
  <input type="text" name="name" placeholder="name of your survey">
  <input type="submit" value="submit your survey title">
</form>

<div class='survey-container'>
  <p class= 'question-button'></p>
  <article>
    <p>Questions</p>
  </article>
</div>

<form id="question" method = "post" action="/survey/<%=@survey.id%>/new">
  <input type = "hidden" method = "put">
  <input type="text" name="sentence" placeholder="Enter your question">
  <input type="text" name="answer1" placeholder="Enter first possible answer" >
  <input type="text" name="answer2" placeholder="Enter second possible answer">
  <input type="text" name="answer3" placeholder="Enter third possible answer"><br>
  <input type="submit" value="submit your question">
</form>
<a href = "/" id="submit-survey" >Submit</a>
</section>




